
<!DOCTYPE html>
<html lang="en">
    <head> 
		<meta charset="utf-8">
        <title>View Page</title>
        <link rel="stylesheet" href="/styles.css">
	</head>
    <body> 
        <h1>View Journal Entries</h1>
        <form action="/view" method="POST">
            Search by Date:<input type="date" id="date" name="date">
            <button type="submit">Search</button>
        </form>
        <a href="/">HOME</a>
    </body>
</html>
